@using EvoApp.Repositories
@using EvoApp.Enums
@inject IWorldItemsRepo worldItemsRepo

@foreach (var plant in worldItemsRepo.GetPlants())
{
    <div class="plant-item" data-tier="@plant.Tier">
        <label class="text-@plant.LandType" for="@($"{plant.LandType}-{plant.Tier}-{plant.Subcategory}")">@plant.Name</label>
        <input type="radio" id="@($"{plant.LandType}-{plant.Tier}-{plant.Subcategory}")" name="subtype" value="@plant.Subcategory" />
    </div>
}

<style>
    input[name="subtype"] {
        display: none;
    }
    
    label:has(+input:checked) {
        background-color: white;
        color: black;
    }

    .plant-item {
        padding: 5px;
        width: 33%;
    }

    label {
        width: min-content;
        height: min-content;
    }
</style>