@using EvoApp.Repositories
@using EvoApp.Enums
@inject IWorldItemsRepo worldItemsRepo


@foreach (var plant in worldItemsRepo.GetPlants())
{
    <div class="plant-item" data-tier="@plant.tier">
        <label class="text-@plant.landType" for="@($"{plant.landType}-{plant.tier}-{plant.subcategory}")">@plant.Name</label>
        <input type="radio" id="@($"{plant.landType}-{plant.tier}-{plant.subcategory}")" name="subtype" value="@plant.subcategory" />
    </div>
}

<style>
    input[name="subtype"] {
        display: none;
    }
    
    label:has(+input:checked) {
        background-color: white;
        color: black;
    }

    .plant-item {
        padding: 5px;
        width: 33%;
    }

    label {
        width: min-content;
        height: min-content;
    }
</style>