@using EvoApp.Repositories
@using EvoApp.Enums
@inject IWorldItemsRepo worldItemsRepo

<div data-tier="1">
    @foreach (var plant in worldItemsRepo.GetLandPlantsByTier(LandTypes.Grass, 1))
    {
        <label for="st@($"1{plant.Key}")">@plant.Value.Name</label>
        <input type="radio" id="st@($"1{plant.Key}")" name="subtype" value="@plant.Key" />
    }
</div>
<div data-tier="2">
    @foreach (var plant in worldItemsRepo.GetLandPlantsByTier(LandTypes.Grass, 2))
    {
        <label for="st@($"2{plant.Key}")">@plant.Value.Name</label>
        <input type="radio" id="st@($"2{plant.Key}")" name="subtype" value="@plant.Key" />
    }
</div>
<div data-tier="3">
    @foreach (var plant in worldItemsRepo.GetLandPlantsByTier(LandTypes.Grass, 3))
    {
        <label for="st@($"3{plant.Key}")">@plant.Value.Name</label>
        <input type="radio" id="st@($"3{plant.Key}")" name="subtype" value="@plant.Key" />
    }
</div>

<style>
    input[name="subtype"] {
        display: none;
    }
    
    label:has(+input:checked) {
        color: white;
    }
    label {
        width: 50%;
        height: min-content;
        padding: 5px;
    }
</style>