@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/styles/index.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("lib", false)
    @RenderSection("style", false)
</head>
<body>
    <header>
        @await Html.PartialAsync("PlayerPanel")
    </header>
    <main>
        @RenderBody()
    </main>
    <aside>
        @await Html.PartialAsync("Menu")
    </aside>
    @RenderSection("script", false)
</body>
</html>
